{%- assign product_form_id = 'product-form-' | append: section.id -%}
{% for block in section.blocks %}
  {% case block.type %}
    {%- when '@app' -%}
      {% render block %}
    {%- when 'review_rating' -%}
      {% render 'review', product: product, section: section %}
    {% when 'title' %}
      <div class="heading-header" {{ block.shopify_attributes }}>
        {% if productInfo %}
          <h2 class="product-title font-heading" tabindex="0">
            {% if product != blank %}
              <a href="{{ product.url }}" class="">{{- product.title | strip_html -}}</a>
            {% else %}
              {{ 'onboarding.product_title' | t }}
            {% endif %}
          </h2>
        {% else %}
          <h2 class="product-title font-heading" tabindex="0">{{- product.title | strip_html -}}</h2>
        {% endif %}
      </div>
    {% when 'sku' %}
      {% if product_variant.sku != blank %}
        <div class="pro-sku-box" {{ block.shopify_attributes }}>
          <p id="Sku-{{ section.id }}" class="pro-sku-title" data-variant-sku>{{ product_variant.sku }}</p>
        </div>
      {% endif %}
    {% when 'text' %}
      {% if block.settings.text != blank %}
        <p class="product-text" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
      {% endif %}
    {% when 'price' %}
      <div
        id="price-{{ section.id }}"
        class="price-wrapper main-price no-js-hidden"
        role="status"
        data-main-price
        {{ block.shopify_attributes }}
      >
        {% render 'price', product: product, section: section %}
        {% unless block.settings.hide_shipping_content %}
          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <span class="textXsmall product-item-tax-shipping">
              {%- if cart.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </span>
          {%- endif -%}
        {% endunless %}
        {% if product != blank %}
          <div {{ block.shopify_attributes }}>
            {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
            {%- form 'product', product, id: product_form_installment_id, class: 'text-small' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              {{ form | payment_terms }}
            {%- endform -%}
          </div>
        {% endif %}
      </div>
    {% when 'description' %}
      <div class="product-item-description description rte" {{ block.shopify_attributes }}>
        {{
          product.description
          | replace: '<table', '<div class="table-content"><table '
          | replace: '</table>', '</table></div>'
        }}
      </div>
    {% when 'inventory' %}
      <ul
        class="no-bullet productstock-value {% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
        {{ block.shopify_attributes }}
        id="Inventory-{{ section.id }}"
        data-inventory-message
        role="list"
      >
        {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
          {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
            {%- if product.selected_or_first_available_variant.inventory_quantity <= block.settings.minimun_inventory
            -%}
              <li class="lowstock">
                <span></span>
                {{- 'products.product.inventory_low_stock' | t -}}
              </li>
            {%- else -%}
              <li class="instock">
                <span></span>
                {{- 'products.product.inventory_in_stock' | t -}}
              </li>
            {%- endif -%}
          {%- else -%}
            {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
              <li class="instock">
                <span></span>
                {{- 'products.product.inventory_in_stock' | t -}}
              </li>
            {%- else -%}
              <li class="outofstock">
                <span></span>
                {{- 'products.product.inventory_out_of_stock' | t -}}
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endif -%}
      </ul>

    {% when 'variant' %}
      {% render 'product-variant-selectors',
        product_form_id: product_form_id,
        product: product,
        section: section,
        block: block
      %}
    {% when 'sizeChart' %}
      {%- liquid
        for option in product.options
          assign sizeOptionsName = settings.sizename | downcase
          assign sizedownOption = option | downcase
          if sizeOptionsName contains sizedownOption
            render 'size-chart', block: block, sizedownOption: sizedownOption
          endif
        endfor
      -%}
    {%- when 'quantity' -%}
      {% render 'quantity' product, product_form_id: product_form_id %}

    {% when 'button' %}
      {% render 'product-form',
        product: product,
        product_form_id: product_form_id,
        product_variant: product_variant,
        block: block
      %}

    {%- when 'share' -%}
      {%- render 'social-share',
        share_link: product.url,
        share_title: product.title,
        share_product: product,
        block: block-
      %}
    {% when 'custom_liquid' %}
      <div class="custom-liquid rte" {{ block.shopify_attributes }}>
        {{
          block.settings.custom_liquid
          | replace: '<table', '<div class="table-content"><table'
          | replace: '</table>', '</table></div>'
        }}
      </div>
    {% when 'complementary_products' %}
      {% render 'complementary-products', product: product, section: section, block: block %}
    {%- when 'pickup' -%}
      {%- assign pickupAvailabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
      <pickup-availability
        class="pickup-available-main"
        id="pickup-availability-section"
        data-variant-id="{{  product_variant.id }}"
        data-root-url="{{ routes.root_url }}"
        {% if product_variant.available and pickupAvailabilities.size > 0 %}
          available
        {% endif %}
        data-pickup-availability
        {{ block.shopify_attributes }}
      >
        {% render 'pickup-availability', product: product, product_variant: product_variant %}
      </pickup-availability>
    {%- when 'collapsible_content' -%}
      <div class="product-collapsed-wrapper" id="product-collapsed-wrapper">
        {% assign countInt = 1 %}
        {% if block.settings.show_description %}
          <details
            class="product-collapsed-card"
            {% if block.settings.open_first_content %}
              open
            {% endif %}
          >
            <summary class="product-collapsed-head" content="collapsed-content">
              <h6 class="font-body textMedium">
                {% if block.settings.description_heading != blank %}
                  {{- block.settings.description_heading -}}
                {% else %}
                  Description
                {% endif %}
              </h6>
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                <rect x="4" width="2" height="10" fill="currentColor"></rect>
                <rect y="4" width="10" height="2" fill="currentColor"></rect>
              </svg>
            </summary>
            <div id="collapsed-content-{{ countInt }}" class="collapsed-content">
              <div class="collapsed-content-body rte">
                {{
                  product.description
                  | replace: '<table', '<div class="table-content"><table '
                  | replace: '</table>', '</table></div>'
                }}
              </div>
            </div>
          </details>
        {% endif %}
        {% for i in (1..3) %}
          {% assign countInt = countInt | plus: 1 %}
          {% liquid
            assign headingindex = 'heading_' | append: forloop.index
            assign heading = block.settings[headingindex]
            assign description_index = 'description_' | append: forloop.index
            assign custom_description = block.settings[description_index]
          %}
          {% if heading != blank %}
            <details
              class="product-collapsed-card"
              {% if block.settings.open_first_content and block.settings.show_description == false and countInt == 2 %}
                open
              {% endif %}
            >
              <summary class="product-collapsed-head" content="collapsed-content">
                <h6 class="font-body textMedium">{{- heading -}}</h6>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
                  <rect x="4" width="2" height="10" fill="currentColor"></rect>
                  <rect y="4" width="10" height="2" fill="currentColor"></rect>
                </svg>
              </summary>
              <div id="collapsed-content-{{ countInt }}" class="collapsed-content">
                <div class="collapsed-content-body rte">
                  {{ custom_description }}
                </div>
              </div>
            </details>
          {% endif %}
        {% endfor %}
      </div>
  {% endcase %}
{% endfor %}
