<div class="social-icon-box" {{ block.shopify_attributes }}>
  <span>Share</span>
  <ul class="no-bullet social-icons {{ class }}">
    <li class="social-icons-item facebook">
      <a
        class="social-icons-link"
        target="_blank"
        title="{{ 'general.social.links.facebook' | t }}"
        href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_link | strip_html }}"
      >
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
          <g>
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2.34142 13.3481V7.26225H0.294128V4.89049H2.34142V3.14461C2.25811 2.30573 2.54889 1.47281 3.13619 0.868058C3.72348 0.2633 4.54753 -0.0517518 5.38848 0.00695773C5.99987 0.00336567 6.61092 0.0363658 7.21836 0.105782V2.22225H5.96248C5.63867 2.15372 5.30204 2.25184 5.06577 2.48364C4.8295 2.71544 4.72496 3.05013 4.7873 3.37519V4.89049H7.13601L6.82966 7.26225H4.7906V13.3481H2.34142Z"
                  fill="black" />
          </g>
        </svg>
      </a>
    </li>
    <li class="social-icons-item twitter">
      <a
        class="social-icons-link"
        target="_blank"
        title="{{ 'general.social.links.twitter' | t }}"
        href="//twitter.com/share?text={{ share_title | url_param_escape | strip_html }}&amp;url={{ shop.url | append: share_link | strip_html }}"
      >
        <svg width="17" height="14" viewBox="0 0 17 14" fill="none">
          <g>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9182 2.01379C11.9847 1.99649 12.5525 2.35235 13.0946 2.80469C13.5548 2.76874 14.1529 2.53339 14.5052 2.36938C14.6194 2.3121 14.7336 2.25509 14.8478 2.1978C14.6465 2.69552 14.3737 3.08543 13.9544 3.38104C13.8613 3.4467 13.7689 3.53559 13.6521 3.57748C13.6521 3.57937 13.6521 3.58153 13.6521 3.58342C14.2496 3.57775 14.7425 3.33105 15.2105 3.19703C15.2105 3.19918 15.2105 3.20134 15.2105 3.20351C14.9647 3.56126 14.6319 3.92416 14.2768 4.18437C14.1335 4.28866 13.9902 4.39296 13.8469 4.49726C13.8547 5.07632 13.8376 5.62889 13.7193 6.11581C13.0317 8.94539 11.2096 10.8666 8.32532 11.6894C7.28968 11.985 5.61596 12.1063 4.42936 11.8367C3.8409 11.7029 3.30933 11.5518 2.81047 11.3522C2.53343 11.2411 2.27675 11.1211 2.03125 10.9844C1.95071 10.9393 1.87008 10.8944 1.78943 10.8493C2.05714 10.8569 2.37018 10.9242 2.66943 10.8801C2.94011 10.8401 3.20558 10.8504 3.45536 10.8004C4.07824 10.6753 4.6313 10.5099 5.10778 10.2546C5.33876 10.1308 5.68925 9.98545 5.85338 9.80712C5.5441 9.81196 5.26367 9.74634 5.03395 9.67231C4.1432 9.38424 3.6247 8.85495 3.28738 8.05969C3.55733 8.08644 4.33484 8.15075 4.51662 8.0105C4.17687 7.99348 3.85012 7.81325 3.61655 7.67923C2.90006 7.26879 2.31571 6.58029 2.3201 5.52108C2.41418 5.56188 2.50826 5.60296 2.60225 5.64376C2.78225 5.71319 2.9652 5.75022 3.17994 5.79102C3.27062 5.80804 3.45196 5.85694 3.55607 5.82155C3.5516 5.82155 3.54711 5.82155 3.54264 5.82155C3.40404 5.67375 3.17816 5.5754 3.03884 5.41678C2.57921 4.89366 2.14843 4.08872 2.42089 3.12974C2.48998 2.88656 2.59965 2.67175 2.71647 2.47367C2.72096 2.47584 2.72543 2.47773 2.72992 2.47989C2.7834 2.5823 2.90274 2.6577 2.97846 2.74335C3.2132 3.00978 3.50276 3.24945 3.79789 3.46075C4.80341 4.18085 5.70895 4.62319 7.16326 4.95095C7.53213 5.03391 7.95861 5.0974 8.39923 5.09793C8.27541 4.76801 8.31518 4.23409 8.41266 3.9147C8.65775 3.11164 9.19011 2.53232 9.97109 2.22211C10.1578 2.14808 10.365 2.09403 10.5823 2.05054C10.6943 2.03838 10.8063 2.02622 10.9182 2.01379Z" fill="black"></path>
          </g>
        </svg>
      </a>
    </li>
    <li class="social-icons-item">
      <a
        class="social-icons-link"
        target="_blank"
        title="{{ 'general.social.links.pinterest' | t }}"
        href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_link | strip_html }}&amp;media={{ share_product | image_url: width: 1024, height: 1024 }}&amp;description={{ share_title | url_param_escape | strip_html }}"
      >
        <svg width="10" height="14" viewBox="0 0 10 14" fill="none">
          <g clip-path="url(#clip0_101_684)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.83683 0.334281C7.32948 0.296389 8.89042 1.30633 9.62483 3.07741C9.86725 3.66186 10.1263 4.73691 9.93175 5.62887C9.85417 5.98499 9.83208 6.35669 9.72717 6.6923C9.51358 7.37459 9.23575 7.97859 8.86775 8.49946C8.36817 9.20708 7.60997 9.68425 6.65793 9.92417C5.81583 10.1363 5.04133 9.81875 4.59128 9.47758C4.44789 9.36909 4.25562 9.22725 4.20253 9.03133C4.19573 9.03133 4.18892 9.03133 4.18211 9.03133C4.14977 9.389 4.01277 9.76859 3.91603 10.0945C3.78215 10.5453 3.75611 11.0121 3.58867 11.4339C3.40291 11.9023 3.17728 12.3314 2.93393 12.7313C2.80616 12.9409 2.45356 13.6586 2.19729 13.6666C2.16926 13.6128 2.15803 13.592 2.15634 13.4966C2.07382 13.3652 2.13131 13.1436 2.09494 12.9648C2.03837 12.6863 1.99431 12.1847 2.05409 11.9019C2.05409 11.7531 2.05409 11.6039 2.05409 11.4553C2.11998 11.1488 2.11738 10.8345 2.19729 10.5411C2.37114 9.90192 2.46788 9.22484 2.64743 8.56334C2.81998 7.92785 2.9783 7.23274 3.1181 6.58593C3.14964 6.43983 2.9721 6.01983 2.93393 5.86302C2.81357 5.36813 2.9052 4.6822 3.05671 4.31049C3.24748 3.84251 3.80598 3.12784 4.52991 3.31124C5.11173 3.45858 5.48205 4.08765 5.28698 4.88485C5.08218 5.72149 4.8165 6.471 4.63225 7.30854C4.58478 7.52436 4.6664 7.7536 4.71406 7.8829C4.88631 8.34937 5.40864 8.80242 6.10543 8.62723C7.16163 8.36129 7.62859 7.40514 7.94704 6.37318C8.03318 6.0941 8.02286 5.83031 8.09026 5.52249C8.23245 4.87294 8.17207 3.90334 7.96748 3.39622C7.63961 2.58344 7.02774 2.06257 6.18726 1.78012C5.95542 1.73764 5.72349 1.69514 5.49157 1.65266C5.10331 1.56371 4.36277 1.69729 4.10019 1.78012C2.92643 2.15122 2.1996 2.77112 1.74715 3.88531C1.59314 4.26464 1.50872 4.64918 1.48118 5.18229C1.47428 5.24617 1.46745 5.31006 1.46065 5.37394C1.55128 5.85049 1.56049 6.16624 1.74715 6.52206C1.83929 6.69751 2.05809 6.83567 2.09494 7.05362C2.11668 7.182 2.02254 7.37579 1.99271 7.47881C1.94754 7.63439 1.96397 7.8126 1.89037 7.94679C1.75728 8.1889 1.39486 8.00702 1.23563 7.90401C0.407756 7.36969 -0.274605 5.8245 0.110237 4.33189C0.169517 4.10142 0.172429 3.9009 0.253439 3.69396C0.755551 2.41287 1.50471 1.62576 2.58604 0.950834C2.99123 0.698043 3.53759 0.572714 4.03881 0.440656C4.30478 0.405209 4.57086 0.369745 4.83683 0.334281Z" fill="black"></path>
          </g>
          <defs>
              <clipPath id="clip0_101_684">
                  <rect width="10" height="14" fill="white"></rect>
              </clipPath>
          </defs>
        </svg>
      </a>
    </li>
  </ul>
</div>
