{% capture socialIcons %}
    {%- if settings.social_facebook_link != blank -%}
      <li class="facebook">
        <a href="{{ settings.social_facebook_link }}" aria-label="Facebook">
          <svg width="7" height="12" viewBox="0 0 7 12" fill="none">
              <path d="M5.72202 1.9925H7V0.0845C6.77952 0.0585 6.02125 0 5.13815 0C3.29556 0 2.03333 0.9935 2.03333 2.8195V4.5H0V6.633H2.03333V12H4.52629V6.6335H6.47738L6.7871 4.5005H4.52571V3.031C4.52629 2.4145 4.71994 1.9925 5.72202 1.9925Z" fill="currentColor"></path>
          </svg>
          <span class="hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
     {%- if settings.social_instagram_link != blank -%}
      <li class="social-icons-item">
        <a href="{{ settings.social_instagram_link }}" class="social-icons-link" aria-label="Instagram">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.375 0H9.625C12.0409 0 14 1.95912 14 4.375V9.625C14 12.0409 12.0409 14 9.625 14H4.375C1.95912 14 0 12.0409 0 9.625V4.375C0 1.95912 1.95912 0 4.375 0ZM9.62528 12.6875C11.314 12.6875 12.6878 11.3137 12.6878 9.62496V4.37496C12.6878 2.68621 11.314 1.31246 9.62528 1.31246H4.37528C2.68653 1.31246 1.31278 2.68621 1.31278 4.37496V9.62496C1.31278 11.3137 2.68653 12.6875 4.37528 12.6875H9.62528Z" fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.50008 6.99997C3.50008 5.0671 5.0672 3.49997 7.00008 3.49997C8.93295 3.49997 10.5001 5.0671 10.5001 6.99997C10.5001 8.93285 8.93295 10.5 7.00008 10.5C5.0672 10.5 3.50008 8.93285 3.50008 6.99997ZM4.81251 6.99987C4.81251 8.20562 5.79426 9.18737 7.00001 9.18737C8.20576 9.18737 9.18751 8.20562 9.18751 6.99987C9.18751 5.79325 8.20576 4.81237 7.00001 4.81237C5.79426 4.81237 4.81251 5.79325 4.81251 6.99987Z" fill="currentColor"></path>
                <path d="M11.2292 3.23772C11.2292 3.49529 11.0204 3.7041 10.7628 3.7041C10.5053 3.7041 10.2965 3.49529 10.2965 3.23772C10.2965 2.98015 10.5053 2.77135 10.7628 2.77135C11.0204 2.77135 11.2292 2.98015 11.2292 3.23772Z" fill="currentColor"></path>
            </svg>
            <span class="hidden">{{ 'general.social.links.instagram' | t }}</span>
          </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="youtube">
        <a href="{{ settings.social_youtube_link }}" aria-label="Youtube">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7055 4.41764C19.6087 4.64768 20.3194 5.32552 20.5615 6.18626C21 7.74559 21 11 21 11C21 11 21 14.2544 20.5615 15.8137C20.439 16.2405 20.2029 16.6285 19.877 16.9389C19.551 17.2493 19.1467 17.4712 18.7045 17.5824C17.0672 18 10.4995 18 10.4995 18C10.4995 18 3.93282 18 2.29455 17.5824C1.85237 17.4711 1.44808 17.2492 1.12217 16.9388C0.796263 16.6284 0.560166 16.2404 0.43752 15.8137C5.79516e-08 14.2544 0 11 0 11C0 11 5.79516e-08 7.74559 0.43752 6.18626C0.560076 5.75952 0.796144 5.37151 1.12207 5.0611C1.44799 4.75069 1.85232 4.5288 2.29455 4.41764C3.93282 4 10.5005 4 10.5005 4C10.5005 4 17.0672 4 18.7045 4.41764H18.7055ZM13.8402 11L8.35275 13.9556V8.04539L13.8422 11H13.8402Z" fill="currentColor"/>
          </svg>
          <span class="hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="tiktok">
        <a href="{{ settings.social_tiktok_link }}"  aria-label="Tiktok">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7092 7.25677L13.709 7.69575H13.7083V13.5953C13.7083 15.0018 13.1472 16.3396 12.1401 17.3342C11.133 18.3286 9.77816 18.8824 8.35416 18.8824C6.93015 18.8824 5.57525 18.3286 4.56825 17.3342C3.56107 16.3396 3 15.0018 3 13.5953C3 12.1887 3.56107 10.8513 4.56825 9.8569C5.57534 8.86236 6.92988 8.30834 8.35416 8.30834H9.3477V11.0877H8.35416C7.67794 11.0877 7.03651 11.3501 6.55827 11.8223C6.08012 12.2944 5.81469 12.9276 5.81469 13.5953C5.81469 14.2629 6.08012 14.8964 6.55827 15.3686C7.03651 15.8405 7.67803 16.1031 8.35416 16.1031C9.03028 16.1031 9.6718 15.8405 10.15 15.3686C10.6279 14.8964 10.8936 14.2632 10.8936 13.601V3H13.6966L13.837 3.25659C14.2734 4.05527 14.862 4.81247 15.5921 5.3711C16.1565 5.8032 16.7953 6.10805 17.5011 6.23025L18 6.31665L17.4646 8.99612L16.9851 8.91153C16.4141 8.81076 15.8534 8.63967 15.3285 8.39537C14.7259 8.11465 14.1671 7.73597 13.7092 7.25668V7.25677Z" fill="currentColor"/>
            </svg>
          <span class="hidden">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_twitter_link != blank -%}
      <li class="twitter">
        <a href="{{ settings.social_twitter_link }}"  aria-label="Twitter">
         <svg width="14" height="11" viewBox="0 0 14 11" fill="none">
              <path d="M14 1.30223C13.4794 1.52308 12.9246 1.66946 12.3463 1.74054C12.9412 1.397 13.3954 0.857154 13.6089 0.206462C13.0541 0.526308 12.4416 0.752231 11.7889 0.878308C11.2621 0.335923 10.5114 0 9.69238 0C8.10337 0 6.82412 1.24723 6.82412 2.77623C6.82412 2.99623 6.84337 3.20777 6.89062 3.40915C4.5045 3.29662 2.39312 2.19069 0.97475 0.506C0.727125 0.921462 0.581875 1.397 0.581875 1.90892C0.581875 2.87015 1.09375 3.72223 1.85675 4.21554C1.39562 4.20708 0.94325 4.07762 0.56 3.87369C0.56 3.88215 0.56 3.89315 0.56 3.90415C0.56 5.25292 1.55488 6.37323 2.8595 6.63131C2.62587 6.69308 2.37125 6.72269 2.107 6.72269C1.92325 6.72269 1.73775 6.71254 1.56362 6.67531C1.9355 7.77446 2.99075 8.58254 4.2455 8.60877C3.269 9.34746 2.02912 9.79254 0.686875 9.79254C0.4515 9.79254 0.22575 9.78238 0 9.75446C1.27137 10.5473 2.77813 11 4.403 11C9.6845 11 12.572 6.76923 12.572 3.102C12.572 2.97931 12.5676 2.86085 12.5615 2.74323C13.1311 2.35231 13.6097 1.86408 14 1.30223Z" fill="currentColor"></path>
          </svg>
          <span class="hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
   {%- if settings.social_snapchat_link != blank -%}
      <li class="snapchat">
        <a href="{{ settings.social_snapchat_link }}" aria-label="Snapchat">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M19.8193 14.9383C17.2397 14.5133 16.0834 11.877 16.0357 11.765L16.0308 11.7545C15.9575 11.6346 15.9113 11.5003 15.8954 11.3607C15.8795 11.2212 15.8943 11.0798 15.9388 10.9466C16.112 10.5384 16.6852 10.3565 17.065 10.2359C17.1598 10.2059 17.2495 10.1774 17.3198 10.1495C18.0063 9.87838 18.1459 9.59768 18.1425 9.40981C18.1244 9.29264 18.0719 9.1835 17.9915 9.09636C17.9111 9.00921 17.8066 8.94801 17.6913 8.92059L17.6861 8.91867C17.5842 8.8777 17.4753 8.85685 17.3655 8.85725C17.2687 8.8556 17.1727 8.87464 17.0839 8.91312C16.8158 9.04866 16.5237 9.13005 16.2241 9.15263C16.0515 9.15674 15.8829 9.10031 15.7475 8.9931C15.7558 8.84017 15.7655 8.6824 15.7762 8.51568L15.7798 8.45691C15.9528 7.24431 15.8791 6.00925 15.5629 4.82586C15.1902 3.9762 14.5755 3.25514 13.7955 2.75266C13.0156 2.25018 12.1049 1.98853 11.1771 2.00039C11.0564 2.00165 10.9357 2.00278 10.815 2.00379C9.88856 1.99234 8.97931 2.25404 8.20074 2.75621C7.42216 3.25838 6.80875 3.97877 6.43711 4.82744C6.12099 6.00978 6.04713 7.24382 6.21996 8.45542C6.23161 8.63465 6.24241 8.81397 6.25236 8.99336C6.10322 9.11023 5.91594 9.16746 5.72694 9.15393C5.40893 9.14032 5.09761 9.05812 4.81434 8.91295C4.74487 8.88225 4.6695 8.86721 4.59357 8.86889C4.43716 8.86273 4.28274 8.90564 4.15192 8.9916C4.0211 9.07756 3.92044 9.20227 3.86401 9.34828C3.7903 9.73583 4.34363 10.0166 4.68003 10.1495C4.75113 10.1777 4.84043 10.206 4.9348 10.2359C5.31433 10.3563 5.88798 10.5383 6.06118 10.9467C6.10561 11.08 6.12039 11.2214 6.1045 11.3609C6.08861 11.5005 6.04242 11.6349 5.96917 11.7548L5.96434 11.7652C5.71565 12.3066 5.3917 12.8102 5.0021 13.2611C4.2942 14.1416 3.29244 14.7372 2.18074 14.9386C2.1282 14.9472 2.08072 14.975 2.04742 15.0165C2.01412 15.0581 1.99735 15.1105 2.00034 15.1636C2.0027 15.2039 2.01215 15.2434 2.02824 15.2803C2.18644 15.6503 2.98064 15.9559 4.32489 16.1632C4.45057 16.1827 4.50375 16.3876 4.57713 16.7232C4.60646 16.8576 4.63684 16.997 4.67919 17.141C4.69302 17.2048 4.73008 17.2613 4.78317 17.2993C4.83626 17.3374 4.9016 17.3543 4.96649 17.3469C5.09531 17.3397 5.22326 17.3213 5.34892 17.2921C5.68027 17.2198 6.01813 17.1816 6.35725 17.178C6.60086 17.1786 6.84402 17.1991 7.08427 17.2394C7.5919 17.3681 8.06407 17.6093 8.46578 17.9452C9.14377 18.5242 9.99581 18.86 10.8865 18.8993C10.9169 18.8993 10.9472 18.8982 10.9766 18.8957C11.0136 18.8974 11.0623 18.8993 11.1133 18.8993C12.0045 18.8598 12.857 18.5238 13.5354 17.9445C13.9368 17.609 14.4085 17.368 14.9156 17.2396C15.1559 17.1993 15.3991 17.1787 15.6428 17.1781C15.9817 17.1797 16.3195 17.2155 16.6511 17.2849C16.7769 17.3124 16.905 17.3286 17.0336 17.3333H17.0547C17.1156 17.3382 17.1763 17.3207 17.2252 17.2841C17.2742 17.2474 17.3081 17.1942 17.3206 17.1344C17.3624 16.9923 17.393 16.8572 17.4231 16.7192C17.4958 16.3853 17.549 16.1813 17.6752 16.1618C19.0198 15.9541 19.814 15.6491 19.9711 15.2811C19.9875 15.2438 19.9971 15.204 19.9997 15.1633C20.0026 15.1102 19.9858 15.0578 19.9525 15.0163C19.9192 14.9748 19.8718 14.947 19.8193 14.9383Z" fill="currentColor"/>
            </svg>
          <span class="hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
      {%- if settings.social_pinterest_link != blank -%}
      <li class="pinterest">
        <a href="{{ settings.social_pinterest_link }}" aria-label="Pinterest">
          <svg width="11" height="14" viewBox="0 0 11 14" fill="none">
                  <path d="M5.68405 0C1.97338 0 0 2.45886 0 5.13998C0 6.38341 0.671898 7.93398 1.74744 8.42576C1.91076 8.50188 1.99962 8.46951 2.036 8.31288C2.06816 8.19387 2.20948 7.62072 2.27802 7.35033C2.2902 7.30816 2.29129 7.26338 2.28118 7.22063C2.27107 7.17787 2.25011 7.13867 2.22048 7.10707C1.86337 6.68005 1.57989 5.90214 1.57989 5.17236C1.57989 3.3024 3.01762 1.48669 5.46404 1.48669C7.57958 1.48669 9.05962 2.90776 9.05962 4.94047C9.05962 7.23745 7.88422 8.82652 6.3568 8.82652C5.51142 8.82652 4.88184 8.14049 5.08154 7.29171C5.32272 6.28103 5.79575 5.19424 5.79575 4.46533C5.79575 3.81167 5.43865 3.2709 4.70921 3.2709C3.8486 3.2709 3.15047 4.15206 3.15047 5.33512C3.15047 6.08678 3.40772 6.5943 3.40772 6.5943L2.39818 10.8146C2.13078 11.939 2.43457 13.76 2.4608 13.9166C2.47688 14.0033 2.57081 14.0304 2.62328 13.9595C2.70705 13.8458 3.73606 12.3276 4.02462 11.2303C4.12955 10.8304 4.56027 9.20892 4.56027 9.20892C4.84376 9.73832 5.66205 10.182 6.53366 10.182C9.12647 10.182 11 7.82548 11 4.9011C10.9907 2.09747 8.67036 0 5.68405 0Z" fill="currentColor"></path>
              </svg>
          <span class="hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
      {%- if settings.social_tumblr_link != blank -%}
      <li class="tumblr">
        <a href="{{ settings.social_tumblr_link }}"  aria-label="Tumblr">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <path d="M15 17H12.3441C9.95314 17 8.17068 15.9169 8.17068 13.325V9.17492H6V6.92815C8.39092 6.38084 9.39131 4.56962 9.50708 3H11.9894V6.56327H14.8861V9.17492H11.9894V12.7892C11.9894 13.8723 12.6109 14.247 13.5982 14.247H15V17Z" fill="currentColor"/>
            </svg>
          <span class="hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="vimeo">
        <a href="{{ settings.social_vimeo_link }}"  aria-label="Vimeo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="vimeo"><path d="m0 4.82.646.851s1.34-1.057 1.786-.531c.452.531 2.163 6.907 2.729 8.086.494 1.033 1.865 2.396 3.363 1.424 1.512-.978 6.503-5.24 7.397-10.283.892-5.034-6.016-3.98-6.74.408 1.822-1.094 2.804.448 1.87 2.191-.936 1.75-1.795 2.891-2.24 2.891-.437 0-.783-1.174-1.295-3.212C6.991 4.534 6.991.728 4.795 1.16 2.719 1.57 0 4.82 0 4.82z" fill="currentcolor"></path></svg>
          <span class="hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
{% endcapture %}
{% if socialIcons != blank %}
  <div class="social-icons">
    <ul class="no-bullet footer-social-icons" role="list">
      {{ socialIcons }}
    </ul>
  </div>
{% endif %}
