<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <div class="{{ settings.layout_width }}">
    {% if section.settings.heading != blank %}
      <div class="heading-header">
        <h2 class="{{ section.settings.heading_size }} {{ section.settings.heading_size_mobile }} align-{{ section.settings.heading_alignment }}">
          {{ section.settings.heading }}
        </h2>
      </div>
    {% endif %}
    <div class="category-list-grid  {% if section.settings.collections_column == 2 %}category-list-2{% else %}category-list-{{ section.settings.collections_column }}{% endif %}">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="category-list-item">
            {% render 'collection-grid',
              collection: block.settings.collection,
              section: section,
              imageRatio: section.settings.image_size
            %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

   }
</style>
{% schema %}
{
  "name": "t:sections.collection_list.name",
  "tag": "section",
  "class": "section-image-links collection-list",
  "disabled_on": {
  "groups": ["header", "footer","aside"]
  },
  "settings": [
    {
      "type": "range",
      "id": "collections_column",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.collection_list.settings.collections_column.label"
    },
    {
      "type": "inline_richtext",
      "label": "t:common.global.heading.label",
      "id": "heading",
      "default": "Collections list"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h3",
       "label": "t:common.heading_size.desktop_label",
      "options": [
        {
        "value": "h1",
          "label": "t:common.heading_size.options.extra_large.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.large.label"
        },
        {
          "value": "h3",
          "label": "t:common.heading_size.options.medium.label"
        },
        {
          "value": "h4",
          "label": "t:common.heading_size.options.small.label"
        },
        {
          "value": "h5",
          "label": "t:common.heading_size.options.extra_small.label"
        }
      ]
    },
    {
          "type": "select",
          "id": "heading_size_mobile",
          "default": "h3_mobile",
          "label": "t:common.heading_size.mobile_label",
          "options": [
            {
            "value": "h1_mobile",
            "label": "t:common.heading_size.options.extra_large.label"
            },
            {
              "value": "h2_mobile",
              "label": "t:common.heading_size.options.large.label"
            },
            {
              "value": "h3_mobile",
              "label": "t:common.heading_size.options.medium.label"
            },
            {
              "value": "h4_mobile",
              "label": "t:common.heading_size.options.small.label"
            },
            {
              "value": "h5_mobile",
              "label": "t:common.heading_size.options.extra_small.label"
            }
          ]
      },
      {
        "type": "text_alignment",
        "id": "heading_alignment",
        "label": "t:common.global.heading_alignment.label",
        "default": "left"
      },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:common.image_size.label",
      "default": "auto",
      "options": [
        {
          "value": "auto",
          "label": "t:common.image_size.options.auto.label"
        },
        {
          "value": "landscape",
          "label": "t:common.image_size.options.landscape.label"
        },
        {
          "value": "portrait",
          "label": "t:common.image_size.options.portrait.label"
        },
        {
          "value": "square",
          "label": "t:common.image_size.options.square.label"
        }
      ]
    },
    {
    "type": "header",
     "content": "t:common.header.colors.content"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
      "label": "t:common.global.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:common.header.section_spacing.content"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
       "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 80,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 80,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection_list.blocks.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:common.global.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.presets.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
