<div
  class="{{ section.settings.color_scheme }}-scheme spacing-box"
  {% if settings.animation_enable %}
    data-aos="fade-left"
  {% endif %}
>
  <div class="{{ settings.layout_width }}">
    {% if section.settings.heading != blank %}
      <div class="heading-header">
        <h2 class="{{ section.settings.heading_size }} {{ section.settings.heading_size_mobile }} align-{{ section.settings.heading_alignment }}">
          {% if section.settings.heading != blank -%}
            {{- section.settings.heading -}}
          {% endif %}
        </h2>
      </div>
    {% endif %}
    <div class="mobile-swipe grid-row article-inner">
      {% liquid
        assign blog = section.settings.blog
        if blog != blank and blog.articles_count > 0 and section.blocks.size == 0
          for article in blog.articles limit: section.settings.post_limit
            assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1
            assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index
            echo '<div class="grid-item-md-4">'
            render 'post-grid', article: article, section: section, placeholder_image: placeholder_image
            echo '</div>'
          endfor
        elsif section.blocks.size > 0
          for block in section.blocks
            assign article = block.settings.article
            assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1
            assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index
            echo '<div class="grid-item-md-4">'
            render 'post-grid', article: article, section: section, block: block, placeholder_image: placeholder_image
            echo '</div>'
          endfor
        else
          for i in (1..section.settings.post_limit)
            assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1
            assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index
            echo '<div class="grid-item-md-4">'
            render 'post-grid', section: section, index: forloop.index0, placeholder_image: placeholder_image
            echo '</div>'
          endfor
        endif
      %}
    </div>
    {% assign btnURl = '' %}
    {% if section.settings.btn_link != blank %}
      {% assign btnURl = section.settings.btn_link %}
    {% elsif blog != blank %}
      {% assign btnURl = blog.url %}
    {% endif %}
    {% if section.settings.btn_text != blank and btnURl != blank %}
      <div class="sectionlink-wrapper align-center">
        <a href="{{  btnURl  }}" class="show-all-btn textBase">
          <span class="link-text">
            {{- section.settings.btn_text }}
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M1 5.8H10.5833M6 11L11 5.8L6 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </a>
      </div>
    {% endif %}
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

   }
</style>
{% schema %}
{
  "name": "t:sections.featured_blogs.name",
  "tag": "section",
  "class": "section-article-list",
  "max_blocks":6,
  "disabled_on":{
     "groups": ["header", "footer","aside"]
 },
  "settings": [
   {
     "type": "inline_richtext",
     "id": "heading",
     "default": "Blog posts",
     "label": "t:common.global.heading.label"
   },
  {
     "type": "select",
     "id": "heading_size",
     "default": "h2",
      "label": "t:common.heading_size.desktop_label",
     "options": [
       {
        "value": "h1",
          "label": "t:common.heading_size.options.extra_large.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.large.label"
        },
        {
          "value": "h3",
          "label": "t:common.heading_size.options.medium.label"
        },
        {
          "value": "h4",
          "label": "t:common.heading_size.options.small.label"
        },
        {
          "value": "h5",
          "label": "t:common.heading_size.options.extra_small.label"
        }
     ]
   },
   {
         "type": "select",
         "id": "heading_size_mobile",
         "default": "h3_mobile",
          "label": "t:common.heading_size.mobile_label",
         "options": [
             {
            "value": "h1_mobile",
            "label": "t:common.heading_size.options.extra_large.label"
            },
            {
              "value": "h2_mobile",
              "label": "t:common.heading_size.options.large.label"
            },
            {
              "value": "h3_mobile",
              "label": "t:common.heading_size.options.medium.label"
            },
            {
              "value": "h4_mobile",
              "label": "t:common.heading_size.options.small.label"
            },
            {
              "value": "h5_mobile",
              "label": "t:common.heading_size.options.extra_small.label"
            }
         ]
       },
   {
     "type": "text_alignment",
     "id": "heading_alignment",
     "label": "t:common.global.heading_alignment.label",
     "default": "left"
   },
   {
     "type": "blog",
     "id": "blog",
     "label": "t:sections.featured_blogs.settings.blog.label"
   },
   {
     "type": "range",
     "id": "post_limit",
     "label": "t:sections.featured_blogs.settings.post_limit.label",
     "min": 3,
     "max": 6,
     "step": 1,
     "default": 3
   },
   {
     "type": "checkbox",
     "id": "show_date",
     "default": true,
     "label": "t:sections.featured_blogs.settings.show_date.label"
   },
   {
     "type": "checkbox",
     "id": "show_author",
     "default": true,
     "label": "t:sections.featured_blogs.settings.show_author.label"
   },
   {
     "type": "checkbox",
     "id": "show_excerpt",
     "default": true,
     "label": "t:sections.featured_blogs.settings.show_excerpt.label"
   },
   {
     "type":"paragraph",
     "content":"t:common.header.button.content"
   },
   {
     "type": "text",
     "id": "btn_text",
     "default": "View all",
     "label": "t:common.global.text.label"
   },
   {
     "type": "url",
     "id": "btn_link",
     "label": "t:common.global.link.label"
   },
  {
       "type": "select",
       "id": "btn_size",
       "label": "t:common.btn_size.label",
       "default": "medium",
       "options": [
         {
           "value": "xsmall",
           "label": "t:common.btn_size.options.xsmall.label"
         },
         {
           "value": "small",
           "label": "t:common.btn_size.options.small.label"
         },
         {
           "value": "medium",
           "label": "t:common.btn_size.options.medium.label"
         },
         {
           "value": "large",
           "label": "t:common.btn_size.options.large.label"
         }
       ]
   },
    {
     "type": "header",
      "content": "t:common.header.colors.content"
   },
  {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
       "label": "t:common.global.color_scheme.label"
    },
   {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "t:sections.featured_blogs.blocks.name",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "t:sections.featured_blogs.blocks.settings.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_blogs.presets.name"

    }
  ]
}
{% endschema %}
