<div class="footer-inner-wrapper">
  <div class="container">
    <div class="grid-row footer-navi-menus">
      <div class="grid-item-md-12 grid-item-l-4 footer-navi-column">
        <div class="footer-logo-box">
          <a href="{{ routes.root_url }}" class="footer-logo">
            {%- if section.settings.image != blank -%}
              <img
                srcset="{{ section.settings.image | image_url: width: section.settings.image_width }} 1x, {{ section.settings.image | image_url: width: 200 }} 2x"
                src="{{ section.settings.image | image_url: width: section.settings.image_width }}"
                loading="lazy"
                aspect-ratio="{{ section.settings.image.aspect_ratio }}"
                width="{{ section.settings.image_width }}"
                height="{{ section.settings.image_width | divided_by:section.settings.image.aspect_ratio }}"
                alt="{{ section.settings.image.alt | default: shop.name | escape }}"
              >
            {% else %}
              {{ shop.name | escape }}
            {% endif %}
          </a>
          {% if section.settings.description != blank %}
            <div class="textBase">
              {{ section.settings.description }}
            </div>
          {% endif %}
          {% if section.settings.show_social %}
            {% render 'social-media' %}
          {% endif %}
        </div>
      </div>
      {% if section.blocks.size > 0 %}
        <div class="grid-item-md-12 grid-item-l-8 footer-navi-column">
          <div class="footer-item-right">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'newsletter' -%}
                  <div class="footer-newsletter">
                    <div class="newsletter-heading">
                      {%- if block.settings.heading != blank -%}
                        <h4 class="news-letter-title">{{ block.settings.heading }}</h4>
                      {% endif %}
                      {% if block.settings.description != blank %}
                        <p class="news-letter-desc textSmall">{{ block.settings.description }}</p>
                      {% endif %}
                    </div>
                    <div class="news-letter-form">
                      {%- form 'customer', id: 'contact_form', class: 'signup-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <fieldset>
                          <div class="form-field">
                            <label class="hidden" for="NewsletterFormFooter">{{ block.settings.placeholder }}</label>
                            <input
                              id="NewsletterFormFooter"
                              type="email"
                              name="contact[email]"
                              class="form-input-field"
                              value="{%- if form.context == 'footer' -%}{{ form.email }}{%- endif -%}"
                              aria-required="true"
                              autocapitalize="off"
                              autocomplete="email"
                              {%- if form.errors -%}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="Newsletter-error-{{ section.id }}"
                              {%- elsif form.posted_successfully? -%}
                                aria-describedby="Newsletter-success-{{ section.id }}"
                              {%- endif -%}
                              placeholder="{{ block.settings.placeholder }}"
                              pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                              required
                            >
                            <label class="hidden" for="NewsletterForm">{{- block.settings.placeholder -}}</label>
                          </div>
                          <button
                            class="btn btn-medium"
                            type="submit"
                            aria-label=" {{ 'newsletter.button_label' | t }}"
                          >
                            <span>
                              <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
                                <path d="M1 5.8H10.5833M6 11L11 5.8L6 1" stroke="currentColor" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                            </span>
                          </button>
                        </fieldset>
                        {%- if form.posted_successfully? -%}
                          <div class="form-message__wrapper success">
                            <div
                              id="Newsletter-success-{{ section.id }}"
                              class="success-message"
                              tabindex="-1"
                              autofocus
                              role="status"
                            >
                              <span class="alerticon">
                                <svg
                                  fill="none"
                                  height="7"
                                  viewBox="0 0 7 7"
                                  width="7"
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                >
                                  <clipPath id="a"><path d="m0 0h7v7h-7z"></path></clipPath>
                                  <g clip-path="url(#a)" fill="currentColor">
                                      <path d="m3.46762 5.27917-2.754073-2.72918-.71355643.f70711 2.75406943 2.72918z"></path>
                                      <path d="m0 0h6.02588v1.00457h-6.02588z" transform="matrix(-.71031 .703889 .71031 .703889 6.32977 1.03186)"></path>
                                  </g>
                                </svg>
                              </span>
                              {{- 'newsletter.success' | t -}}
                            </div>
                          </div>
                        {%- endif -%}
                        {%- if form.errors -%}
                          <div class="form-message__wrapper error" id="Newsletter-error-{{ section.id }}" autofocus>
                            <div class="error_heading">
                              <span class="alerticon">
                                <svg width="7" height="8" viewBox="0 0 7 8" fill="none">
                                  <rect x="5.9751" y="0.818024" width="1" height="8" transform="rotate(45 5.9751 0.818024)" fill="currentColor"></rect>
                                  <rect x="6.68213" y="6.47488" width="1" height="8" transform="rotate(135 6.68213 6.47488)" fill="currentColor"></rect>
                                </svg>
                              </span>
                              {{- form.errors.translated_fields.email }}
                              {{ form.errors.messages.email -}}
                            </div>
                          </div>
                        {%- endif -%}
                      {%- endform -%}
                    </div>
                  </div>
              {% endcase %}
            {% endfor %}

            <div class="footer-navi-list" id="footer-menus" data-accordian-wrapper>
              <div class="grid-row">
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'link_list' -%}
                      <div class="grid-item-md-4 grid-item-l-3">
                        <div class="footer-nav-menu{% if section.settings.open_menu_mobile %} active{% endif %}">
                          {%- if block.settings.heading != blank -%}
                            <h6 class="footer-menu-title" data-accordian-head>
                              {{ block.settings.heading }}
                              <span class="footer-arrow">
                                <svg width="14" height="8" viewBox="0 0 14 8" fill="none">
                                  <path d="M12.6667 1L6.83333 6.83333L1 1" stroke="currentColor" stroke-width="1.25"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                              </span>
                            </h6>
                          {% endif %}
                          {%- if block.settings.menu != blank -%}
                            <ul
                              class="no-bullet footer-menu-list"
                              data-accordian-content
                              {% if section.settings.open_menu_mobile %}
                                style="display:block;"
                              {% endif %}
                            >
                              {%- for link in block.settings.menu.links -%}
                                <li>
                                  <a data-text="{{ link.title | escape -}}" href="{{ link.url }}">
                                    <span>{{- link.title | escape -}}</span>
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {% endif %}
                        </div>
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="footer-bottom-wrapper">
      <div class="grid-row items-align-center">
        <div class="grid-item-md-12 grid-item-l-7">
          <div class="footer-copyright">
            {% unless section.settings.hide_copyright_content %}
              <small>
                {% if section.settings.custom_copyright_content != blank %}
                  {{ section.settings.custom_copyright_content }}
                {% else %}
                  Copyright&copy; {{ 'now' | date: '%Y' }}
                  {{ shop.name | link_to: routes.root_url }}
                  {{ powered_by_link -}}
                {% endif %}
              </small>
            {% endunless %}
            {%- if section.settings.payment_enable -%}
              <ul class="no-bullet payment-icons">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-item">
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
        <div class="grid-item-md-12 grid-item-l-5">
          <div class="footer-btm-dropdown">
            {% render 'localization', section: section %}
            {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
              <span class="follow-shop-btn">
                {{ shop | login_button: action: 'follow' }}
              </span>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "t:sections.footer.name",
"tag": "footer",
"class": "footer",
"max_blocks": 6,
"settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "t:common.global.image.label"

  },
  {
    "type": "range",
      "id": "image_width",
    "min": 50,
    "max": 250,
    "step": 5,
    "unit": "px",
    "label": "t:sections.footer.settings.logo_width.label",
    "default": 100
  },
  {
        "type": "richtext",
        "id": "description",
        "default": "<p>Share information about your brand with your customers.</p>",
        "label": "t:common.global.description.label"
  },
  {
    "type": "checkbox",
    "id": "show_social",
    "default": true,
    "label": "t:sections.footer.settings.show_social.label"
  },
  {
    "type": "checkbox",
    "id": "enable_follow_on_shop",
    "label": "t:sections.footer.settings.enable_follow_on_shop.label",
    "default": false
  },
  {
    "type": "header",
    "content": "t:common.header.mobile_menu.content"
  },
  {
    "type": "checkbox",
    "id": "open_menu_mobile",
    "default": false,
    "label": "t:sections.footer.settings.open_menu_mobile.label"
  },
  {
    "type": "checkbox",
    "id": "enable_language_selector",
    "default": true,
    "label": "t:sections.footer.settings.enable_language_selector.label",
    "info": "t:sections.footer.settings.enable_language_selector.info"
  },

  {
    "type": "checkbox",
    "id": "enable_currency_selector",
    "default": true,
    "label": "t:sections.footer.settings.enable_currency_selector.label",
    "info": "t:sections.footer.settings.enable_currency_selector.info"
  },
  {
    "type": "header",
      "content": "t:common.header.payment_methods.content"
  },
  {
    "type": "checkbox",
    "id": "payment_enable",
    "default": true,
    "label": "t:sections.footer.settings.payment_enable.label"
  },
  {
    "type": "header",
    "content": "t:common.header.copyright_content.content"
  },
  {
    "type": "checkbox",
    "id": "hide_copyright_content",
    "default": true,
    "label": "t:sections.footer.settings.hide_copyright_content.label"
  },
  {
    "type": "inline_richtext",
    "id": "custom_copyright_content",
    "label": "t:sections.footer.settings.custom_copyright_content.label"
  }
],
"blocks": [
{
  "type": "link_list",
  "name": "t:sections.footer.blocks.menu.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Quick links",
      "label": "t:sections.footer.blocks.menu.settings.heading.label",
      "info": "t:sections.footer.blocks.menu.settings.heading.info"
    },
    {
    "type": "link_list",
    "id": "menu",
    "default": "footer",
    "label": "t:sections.footer.blocks.menu.settings.menu.label",
    "info": "t:sections.footer.blocks.menu.settings.menu.info"
    }
    ]
  },
  {
    "type": "newsletter",
    "name": "t:sections.footer.blocks.newsletter.name",
    "limit": 1,
    "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Newsletter",
      "label": "t:common.global.heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Description",
      "label": "t:common.global.description.label"
    },
    {
      "type": "text",
      "id": "placeholder",
      "default": "Email address",
      "label": "t:sections.footer.blocks.newsletter.settings.placeholder.label"
    }
    ]
  }

],
"default": {
"blocks": [
{
"type": "newsletter"
},
{
"type": "link_list"
},
{
"type": "link_list"
},
{
"type": "link_list"
},
{
"type": "link_list"
}
]
}
}
{% endschema %}
