<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <div class="{{ settings.layout_width }}" data-content-main>
    {% if section.settings.heading != blank %}
      <div class="heading-header">
        <h2 class="{{ section.settings.heading_size }} {{ section.settings.heading_size_mobile }} align-{{ section.settings.heading_alignment }}">
          {% if section.settings.heading != blank %}{{ section.settings.heading }}{% endif %}
        </h2>
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="grid-row items-align-center">
        <div class="grid-item-md-6">
          <div class="slider tabs-with-image-image text-overlap">
            {% for block in section.blocks %}
              {% assign imgCollection = block.settings.collection %}
              <div
                class="tab-content{% if forloop.index == 1 %} active{% endif %}"
                id="tab-{{ block.id }}"
                {% if forloop.index > 1 %}
                  style="display:none;"
                {% endif %}
                data-tab-content
              >
                <div class="tab-content-item">
                  {% if block.settings.image != blank %}
                    {% assign imageRatio = 1 | divided_by: block.settings.image.aspect_ratio | times: 100 | plus: 1 %}
                  {% elsif imgCollection.featured_image != blank %}
                    {% assign imageRatio = 1
                      | divided_by: imgCollection.featured_image.aspect_ratio
                      | times: 100
                      | plus: 1
                    %}
                  {% else %}
                    {% assign imageRatio = 100 %}
                  {% endif %}

                  <div
                    class="media-image {{ section.settings.height }}"
                    {% if section.settings.height == 'auto' %}
                      style="--mediaRatio:{{ imageRatio }}%"
                    {% endif %}
                  >
                    {% if block.settings.image != blank or imgCollection.featured_image %}
                      {% if block.settings.image != blank %}
                        {% assign imageUrl = block.settings.image %}
                      {% else %}
                        {% assign imageUrl = imgCollection.featured_image %}
                      {% endif %}
                      {% render 'image', image: imageUrl %}
                    {% else %}
                      {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                      {{
                        'collection-apparel-'
                        | append: placeholder_image_index
                        | placeholder_svg_tag: 'placeholder-svg'
                      }}
                    {% endif %}
                  </div>
                  <div class="tabs-with-image-title">
                    <h3 class="h3 tabs-with-image-heading">
                      {% if block.settings.heading != blank -%}
                        {{- block.settings.heading -}}
                      {%- else -%}
                        {{- imgCollection.title -}}
                      {%- endif %}
                    </h3>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="grid-item-md-6">
          <div class="tabs-with-image-wrapper">
            <ul class="no-bullet tabs-with-image-list">
              {% for block in section.blocks %}
                {% assign imgCollection = block.settings.collection %}
                <li
                  id="images-carousel-{{ block.id }}"
                  class="tab-item-list images-carousel-head {% if forloop.index == 1 %} active{% endif %}"
                  data-index="{{ forloop.index0 }}"
                  data-image-header
                >
                  <a
                    href="{{ imgCollection.url }}"
                    class="h2 font-heading images-carousel-item-head"
                    data-url="#tab-{{ block.id }}"
                  >
                    {% if block.settings.heading != blank -%}
                      {{- block.settings.heading -}}
                    {%- else -%}
                      {{- imgCollection.title -}}
                    {%- endif %}
                    {% if imgCollection.all_products_count > 0 %}
                      <span class="items badge-item">
                        {{- imgCollection.all_products_count }}
                        {% if imgCollection.all_products_count > 1 %}Items{% else %}Item{% endif -%}
                      </span>
                    {% endif %}
                  </a>
                  <div class="arrow-icon-wrapper">
                    <a
                      href="{{ imgCollection.url }}"
                    >
                      <div class="arrow-icon-inner">
                        <span class="arrow-icon-item">
                          <svg
                            class="arrow-icon-button"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18.414"
                            height="18.385"
                            viewBox="0 0 18.414 18.385"
                          >
                            <g fill="none" stroke="currentColor" stroke-linecap="square" stroke-width="2">
                              <path data-name="Path 1928" d="M16 9.192H1"></path>
                              <path data-name="Path 1929" d="m9.22152055 1.4139461 7.7781746 7.7781746"></path>
                              <path data-name="Path 1930" d="m9.2219461 16.97047945 7.7781746-7.7781746"></path>
                            </g>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
    --topSpace:{{ section.settings.top_space_desktop }}px;
    --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
  }

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --topSpace:{{ section.settings.top_space_mobile }}px;
      --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.images_carousel.name",
  "tag": "section",
  "max_blocks": 6,
  "class": "section-tabs-with-image",
  "disabled_on": {
    "groups": ["header", "footer","aside"]
  },
  "settings": [
   {
      "type": "text",
      "id": "heading",
      "label": "t:common.global.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "default": "h3",
      "label": "t:common.heading_size.desktop_label",
      "options": [
         {
        "value": "h1",
          "label": "t:common.heading_size.options.extra_large.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.large.label"
        },
        {
          "value": "h3",
          "label": "t:common.heading_size.options.medium.label"
        },
        {
          "value": "h4",
          "label": "t:common.heading_size.options.small.label"
        },
        {
          "value": "h5",
          "label": "t:common.heading_size.options.extra_small.label"
        }
      ]
    },
    {
          "type": "select",
          "id": "heading_size_mobile",
          "default": "h3_mobile",
         "label": "t:common.heading_size.mobile_label",
          "options": [
             {
            "value": "h1_mobile",
            "label": "t:common.heading_size.options.extra_large.label"
            },
            {
              "value": "h2_mobile",
              "label": "t:common.heading_size.options.large.label"
            },
            {
              "value": "h3_mobile",
              "label": "t:common.heading_size.options.medium.label"
            },
            {
              "value": "h4_mobile",
              "label": "t:common.heading_size.options.small.label"
            },
            {
              "value": "h5_mobile",
              "label": "t:common.heading_size.options.extra_small.label"
            }
          ]
        },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "label": "t:common.global.heading_alignment.label",
      "default": "left"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:common.image_height.label",
      "default": "auto",
      "options": [
        {
          "value": "small-img",
          "label": "t:common.image_height.options.small.label"
        },
        {
          "value": "medium-img",
          "label": "t:common.image_height.options.medium.label"
        },
        {
          "value": "large-img",
          "label": "t:common.image_height.options.large.label"
        },
        {
          "value": "auto",
         "label": "t:common.image_height.options.auto.label"
        }
      ]
    },
   {
      "type": "header",
         "content": "t:common.header.colors.content"
    },
     {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:common.global.color_scheme.label"
    },
    {
      "type": "header",
       "content": "t:common.header.section_spacing.content"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 80,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.images_carousel.blocks.name",
      "settings": [
        {
          "type":"collection",
          "id":"collection",
          "label":"t:common.global.collection.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:common.global.heading.label",
          "default": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.global.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.images_carousel.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
         {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
