<div class="{{ section.settings.color_scheme  }}-scheme spacing-box">
  <div class="template-404 container-small">
    <div class="page-not-found align-center">
      <span class="textXLarge">
        {{ 'templates.404.subtext' | t }}
      </span>
      <h2 class="title">
        {{ 'templates.404.title' | t }}
      </h2>
      <p class="textLarge">
        {{ 'templates.404.content' | t }}
      </p>
      <a href="{{ routes.all_products_collection_url }}" class="btn fill-btn">
        <span>{{ 'general.continue_shopping' | t }}</span>
      </a>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

   }
</style>
{% schema %}
{
  "name": "t:sections.404.name",
  "class": "section-account",
  "tag": "section",
  "settings": [
    {
    "type": "header",
     "content": "t:common.header.colors.content"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:common.global.color_scheme.label"
    },
   {
      "type": "header",
      "content": "Section spacing"
    },
      {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ]
}
{% endschema %}
