{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <div class="{{ settings.layout_width }}">
    <div class="customer-form-wrapper">
      <h3 class="customer-title align-center active" data-login>{{ 'customer.login_page.customer_login' | t }}</h3>
      <h3 class="customer-title align-center resetpassword-heading" data-resetPassword>
        {{ 'customer.reset_password.submit' | t }}
      </h3>
      <div class="customer-tab-box">
        <ul class="no-bullet cut-tab-group">
          <li class="cust-tab active">
            <a href="{{ routes.account_login_url }}" role="tab">{{ 'customer.login_page.title' | t }}</a>
          </li>
          <li class="cust-tab">
            <a href="{{ routes.account_register_url }}" role="tab">{{ 'customer.login_page.sign_in' | t }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="customer-form-card" id="resetPassword">
            {%- form 'recover_customer_password', class: 'account-form' -%}
              {%- if form.errors -%}
                <div id="RecoverEmail-email-error" class="form-message__wrapper error">
                  {{ form.errors.messages.form }}
                </div>
              {%- endif -%}
              {% assign recover_success = form.posted_successfully? %}
              <div class="form-field">
                <label for="RecoverEmail">{{ 'customer.login_page.email' | t }}</label>
                <input
                  class="form-input-field"
                  type="email"
                  name="email"
                  id="RecoverEmail"
                  autocomplete="email"
                  autocapitalize="off"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                >
              </div>
              <div class="form-field">
                <button class="btn fill-btn btn-medium btn-w100">
                  <span>{{ 'customer.login_page.submit' | t }}</span>
                </button>
              </div>
              <div class="account-info-text customer-switch-box align-center">
                <a href="#login" class="text-underline" data-target-login>{{ 'customer.login_page.cancel' | t }}</a>
              </div>
            {% endform %}
          </div>
          <div class="customer-form-card active" id="login">
            {%- form 'customer_login', novalidate: 'novalidate', class: 'account-form' -%}
              {%- if recover_success == true -%}
                <div id="msg-success" class="form-message__wrapper success">
                  {{ 'customer.recover_password.success' | t }}
                </div>
              {% endif %}
              {%- if form.errors -%}
                <div id="msg-error" class="form-message__wrapper error">
                  <div class="error_heading">
                    {{ form.errors | default_errors }}
                  </div>
                </div>
              {% endif %}
              <div class="form-field">
                <label for="CustomerEmail">{{ 'customer.login_page.email' | t }}</label>
                <input
                  class="form-input-field"
                  type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  autocomplete="email"
                  autocapitalize="off"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.email' | t }}"
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                >
              </div>
              <div class="form-field">
                <label for="CustomerPassword">{{ 'customer.login_page.password' | t }}</label>
                <input
                  class="form-input-field"
                  type="password"
                  name="customer[password]"
                  id="CustomerPassword"
                  autocomplete="current-password"
                  autocapitalize="off"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.password' | t }}"
                  required
                >
              </div>
              <div class="form-field">
                <button class="btn fill-btn btn-medium btn-w100">
                  <span>{{ 'customer.login_page.submit' | t }}</span>
                </button>
              </div>
              <div class="customer-switch-box align-center">
                <a class="text-underline" href="#resetPassword" data-target-recover>
                  {{- 'customer.login_page.forgot_password' | t -}}
                </a>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;

   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

  }
</style>
<script>
    var url = window.location.href;
   let forgetPasswordElement =document.querySelector('[data-target-recover]');
   let loginElement =document.querySelector('[data-target-login]');
   let loginSection=document.getElementById('login');
   var recoverSection = document.getElementById('resetPassword');
  var recoverheading= document.querySelector('[data-resetPassword]');
  var loginheading= document.querySelector('[data-login]');
   if (url.indexOf('#resetPassword') > -1) {
    loginSection.style.display = 'none';
    loginheading.style.display = 'none';
    recoverSection.style.display = 'block';
    recoverheading.style.display = 'block';
  } else {
    recoverSection.style.display = 'none';
    recoverheading.style.display = 'none';
    loginSection.style.display = 'block';
      loginheading.style.display = 'block';
  }
   forgetPasswordElement.addEventListener("click",function(event){
    event.preventDefault();
    loginSection.style.display = 'none';
    loginheading.style.display = 'none';
    recoverSection.style.display = 'block';
    recoverheading.style.display = 'block';
    var url = window.location.pathname + '#resetPassword';
    history.pushState({}, null, url);

  })
  loginElement.addEventListener("click",function(event){
    event.preventDefault();
   recoverSection.style.display = 'none';
    recoverheading.style.display = 'none';
    loginSection.style.display = 'block';
      loginheading.style.display = 'block';
    var url = window.location.pathname;
    history.pushState({}, null, url);
  })
</script>

{% schema %}
{
  "name": "t:sections.main_login.name",
  "class": "section-customer",
  "tag": "section",
  "settings": [
 {
  "type": "header",
  "content": "t:common.header.colors.content"
  },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "secondary",
       "label": "t:common.global.color_scheme.label"
    },
   {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 55,
     "min": 0,
     "max": 100,
     "step": 5
   }

  ]
}
{% endschema %}
