<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  {%- if page.content != blank -%}
    <div class="page-content ">
      <div class="{{ settings.layout_width }}">
        <div class="page-content__text rich-text-editor-content rte">
          {{
            page.content
            | replace: '<table', '<div class="table-content"><table'
            | replace: '</table>', '</table></div>'
          }}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

   }
</style>
{% schema %}
{
  "name": "t:sections.main_page.name",
  "tag": "section",
  "class": "main-page",
  "settings": [
  {
    "type": "header",
    "content": "t:common.header.colors.content"
  },
 {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:common.global.color_scheme.label"
  },
  {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ]
}
{% endschema %}
