{%- assign unique_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if unique_3d_model -%}
  <link rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
{%- endif -%}
{% assign product_variant = product.selected_or_first_available_variant %}
<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <product-recently-viewed data-product-id="{{ product.id }}" class="hidden"></product-recently-viewed>

  <div class="{% if section.settings.container_type =='container' %}container {% endif %}product-container">
    <div class="main-product-grid">
      {% render 'product-media-gallery', product: product, section: section, product_variant: product_variant %}
      <div class="main-product-content">
        <div class="featured-product-content">
          {% render 'product-info', product: product, section: section, product_variant: product_variant %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if product.media.size > 0 %}
  {% render 'product-media-popup', product: product, section: section, product_variant: product_variant %}
{% endif %}
<script type="application/json" id="ProductJSON-{{ product.id }}">
  {{ product.media | where: 'media_type', 'model' | json }}
</script>
{%- if unique_3d_model -%}
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{% endif %}
{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
            "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
<style>
  #shopify-section-{{ section.id }} {
    --topSpace:{{ section.settings.top_space_desktop }}px;
    --bottomSpace:{{ section.settings.bottom_space_desktop }}px;

  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}.shopify-section{
      --topSpace:{{ section.settings.top_space_mobile }}px;
      --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
    }

  }
</style>

{% schema %}
{
  "name": "t:sections.main_product.name",
  "class": "section-main-product",
  "tag": "section",
  "settings": [
    {
      "type":"select",
      "id":"container_type",
      "label":"t:sections.main_product.settings.container_type.label",
      "default": "container",
      "options":[
        {
          "value":"container",
          "label":"t:sections.main_product.settings.container_type.options.container.label"
        },
        {
          "value":"fullwidth",
          "label":"t:sections.main_product.settings.container_type.options.fullwidth.label"
        }
      ]
    },
    {
      "type":"select",
      "id":"gallery_type",
      "label":"t:sections.main_product.settings.gallery_type.label",
      "default":"stacked",
      "options":[
        {
         "label":"t:sections.main_product.settings.gallery_type.options.stacked.label",
          "value":"stacked"
        },
        {
         "label":"t:sections.main_product.settings.gallery_type.options.carousel.label",
          "value":"carousel"
        }
      ]
    },
    {
     "type": "header",
      "content": "t:common.header.colors.content"
   },
     {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:common.global.color_scheme.label"
    },
   {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 30,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main_product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main_product.blocks.sku.name",
      "limit": 1
    },
    {
      "type": "text",
      "name": "t:sections.main_product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:common.global.text.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main_product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_shipping_content",
          "label": "t:sections.main_product.blocks.price.settings.hide_shipping_content.label",
          "default": false
        }
      ]
    },
    {
      "type": "review_rating",
      "name": "t:sections.main_product.blocks.review_rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.review_rating.setting.paragraph.content"
        }
      ]
    },
    {
      "type": "variant",
      "name": "t:sections.main_product.blocks.variant.name",
      "limit": 1
    },
    {
      "type": "sizeChart",
      "name": "t:sections.main_product.blocks.sizeChart.name",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "size_chart",
          "label": "t:sections.main_product.blocks.sizeChart.settings.size_chart.label"
        }
      ]
    },
    {
      "type": "quantity",
      "name": "t:sections.main_product.blocks.quantity.name",
      "limit": 1
    },
    {
      "type": "button",
      "name": "t:sections.main_product.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "dynamic_checkout_btn",
          "default": true,
          "label": "t:sections.main_product.blocks.button.settings.dynamic_checkout_btn.label"
        },
         {
          "type": "checkbox",
          "id": "show_recipient_form",
          "default": false,
          "label": "t:sections.main_product.blocks.button.settings.show_recipient_form.label",
          "info": "t:sections.main_product.blocks.button.settings.show_recipient_form.label"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main_product.blocks.share.name",
      "limit": 1
    },
    {
      "type": "description",
      "name": "t:sections.main_product.blocks.description.name",
      "limit": 1
    },
     {
      "type": "custom_liquid",
      "name": "t:sections.main_product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main_product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main_product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_content",
      "name": "t:sections.main_product.blocks.collapsible_content.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "open_first_content",
          "default": true,
          "label": "t:sections.main_product.blocks.collapsible_content.settings.open_first_content.label"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "default": true,
          "label": "t:sections.main_product.blocks.collapsible_content.settings.show_description.label"
        },
        {
          "type": "text",
          "id": "description_heading",
          "label": "t:sections.main_product.blocks.collapsible_content.settings.description_heading.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.collapsible_content.settings.paragraph.content1.content"
        },
        {
          "type": "text",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:common.global.heading.label"
        },
        {
          "type": "richtext",
          "id": "description_1",
          "label": "t:sections.main_product.blocks.collapsible_content.settings.add_content.label",
          "default": "<p>Description</p>"
        },
        {
          "type": "page",
          "id": "pageid_1",
          "label": "t:sections.main_product.blocks.collapsible_content.settings.page.label"
        },
        {
          "type": "paragraph",
              "content": "t:sections.main_product.blocks.collapsible_content.settings.paragraph.content2.content"
        },
        {
          "type": "text",
          "id": "heading_2",
          "default": "Heading",
           "label": "t:common.global.heading.label"
        },
        {
          "type": "richtext",
          "id": "description_2",
           "label": "t:sections.main_product.blocks.collapsible_content.settings.add_content.label",
          "default": "<p>Description</p>"
        },
        {
          "type": "page",
          "id": "pageid_2",
         "label": "t:sections.main_product.blocks.collapsible_content.settings.page.label"
        },
        {
          "type": "paragraph",
         "content": "t:sections.main_product.blocks.collapsible_content.settings.paragraph.content3.content"
        },
        {
          "type": "text",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:common.global.heading.label"
        },
        {
          "type": "richtext",
          "id": "description_3",
         "label": "t:sections.main_product.blocks.collapsible_content.settings.add_content.label",
          "default": "<p>Description</p>"
        },
        {
          "type": "page",
          "id": "pageid_3",
          "label": "t:sections.main_product.blocks.collapsible_content.settings.add_content.label"
        }
      ]
    },
    {
      "type": "pickup",
      "name": "t:sections.main_product.blocks.pickup.name",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "t:sections.main_product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "minimun_inventory",
          "label": "t:sections.main_product.blocks.inventory.settings.minimun_inventory.label",
           "min": 0,
          "max": 100,
          "step": 1,
          "default":10
        }
      ]
    },
    {
      "type": "complementary_products",
      "name": "t:sections.main_product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.global.heading.label",
          "default": "Goes well with"
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 2,
          "max": 10,
          "step": 1,
          "label": "t:sections.main_product.blocks.complementary_products.settings.products_count.label",
          "default": 8
        }

      ]
    }
  ]
}
{% endschema %}
