{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <div class="{{ settings.layout_width }}">
    <div class="customer-form-wrapper">
      <h3 class="customer-title align-center active" data-login>{{ 'customer.login_page.customer_register' | t }}</h3>
      <div class="customer-tab-box">
        <ul class="no-bullet cut-tab-group">
          <li class="cust-tab">
            <a href="{{ routes.account_login_url }}" role="tab">{{ 'customer.login_page.title' | t }}</a>
          </li>
          <li class="cust-tab active">
            <a href="{{ routes.account_register_url }}" role="tab">{{ 'customer.login_page.sign_in' | t }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="customer-form-card active" id="signup">
            {%- form 'create_customer', novalidate: 'novalidate', class: 'account-form' -%}
              {%- if form.errors -%}
                <div id="msg-error" class="form-message__wrapper error">
                  <div class="error_heading">
                    <p tabindex="-1">{{ 'templates.contact.form.error_heading' | t }}</p>
                  </div>
                  <ul class="error_listing">
                    {%- for field in form.errors -%}
                      <li>
                        {%- if field == 'form' -%}
                          {{ form.errors.messages[field] }}
                        {%- else -%}
                          <a href="#Customer-{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {% endif %}
              <div class="form-row">
                <div class="form-field">
                  <label for="Customerfirst_name">{{ 'customer.register.first_name' | t }}</label>
                  <input
                    class="form-input-field"
                    type="text"
                    name="customer[first_name]"
                    id="Customerfirst_name"
                    autocomplete="given-name"
                    autocapitalize="off"
                    {% if form.first_name %}
                      value="{{ form.first_name }}"
                    {% endif %}
                    placeholder="{{ 'customer.register.first_name' | t }}"
                  >
                </div>
                <div class="form-field">
                  <label for="RegisterForm-LastName">{{ 'customer.register.last_name' | t }}</label>
                  <input
                    class="form-input-field"
                    type="text"
                    name="customer[last_name]"
                    id="RegisterForm-LastName"
                    {% if form.last_name %}
                      value="{{ form.last_name }}"
                    {% endif %}
                    autocomplete="family-name"
                    placeholder="{{ 'customer.register.last_name' | t }}"
                  >
                </div>
              </div>
              <div class="form-field">
                <label for="Customer-email">{{ 'customer.register.email' | t }}</label>
                <input
                  class="form-input-field"
                  type="email"
                  name="customer[email]"
                  id="Customer-email"
                  autocomplete="email"
                  autocapitalize="off"
                  {% if form.email %}
                    value="{{ form.email }}"
                  {% endif %}
                  spellcheck="false"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="Customer-Email-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.email' | t }}"
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                >
              </div>
              <div class="form-field">
                <label for="Customer-Password">{{ 'customer.register.password' | t }}</label>
                <input
                  class="form-input-field"
                  type="password"
                  name="customer[password]"
                  id="Customer-Password"
                  autocapitalize="off"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="signUpForm-password-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.password' | t }}"
                  required
                >
              </div>
              <div class="form-field">
                <button class="btn fill-btn btn-medium btn-w100">
                  <span>{{ 'customer.register.submit' | t }}</span>
                </button>
              </div>
              <div class="customer-switch-box align-center">
                {{ 'customer.register.already_account' | t }}
                <a class="text-underline" href="{{ routes.account_login_url }}">Login</a>
              </div>
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;

   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

  }
</style>

{% schema %}
{
  "name": "t:sections.main_register.name",
  "class": "section-customer",
  "tag": "section",
  "settings": [
 {
  "type": "header",
  "content": "t:common.header.colors.content"
  },
   {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "secondary",
        "label": "t:common.global.color_scheme.label"
    },
   {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 80,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 55,
     "min": 0,
     "max": 100,
     "step": 5
   }

  ]
}
{% endschema %}
