{{ 'blog.css' | asset_url | stylesheet_tag }}
<div class="{{ section.settings.color_scheme }}-scheme spacing-box">
  <div class="article-inner-wrapper">
    <div class="{{ settings.layout_width }}">
      {% assign limit = section.settings.artical_per_page %}
      {%- paginate blog.articles by limit -%}
        {% if section.settings.show_tags %}
          <div class="pro-tabs align-center">
            <ul class="no-bullet article-tabs-box">
              <li>
                <a href="{{ blog.url }}" class="tab-link {% if current_tags == blank %} active{% endif %}">All Posts</a>
              </li>
              {%- for tag in blog.all_tags -%}
                <li>
                  <a
                    href="{{ blog.url }}/tagged/{{ tag | handle }}"
                    class="tab-link {% if current_tags contains tag %}active{% endif %}"
                  >
                    {{- tag -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {% endif %}
        {% if blog.articles_count > 0 %}
          <div class="article-boxs-wrapper">
            <div class="article-contain-wrapper">
              <div class="grid-row gutter-0">
                {%- for article in blog.articles -%}
                  {% assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 %}
                  {% assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index %}
                  <div class="grid-item-md-4">
                    {% render 'post-grid', article: article, section: section, placeholder_image: placeholder_image %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;

   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

  }
</style>
{% schema %}
{
  "name": "t:sections.main_blog.name",
  "tag":"section",
  "class":"section-article-list",
  "settings": [

    {
      "type": "range",
      "id": "artical_per_page",
      "min": 3,
      "max": 24,
      "step": 3,
      "default": 12,
      "label": "t:sections.main_blog.settings.artical_per_page.label"
    },
  {
    "type": "checkbox",
    "id": "show_date",
    "default": true,
    "label": "t:sections.main_blog.settings.show_date.label"
  },
  {
    "type": "checkbox",
    "id": "show_author",
    "label": "t:sections.main_blog.settings.show_author.label",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_tags",
    "default": true,
    "label": "t:sections.main_blog.settings.show_tags.label"
  },
  {
    "type": "checkbox",
    "id": "show_excerpt",
    "default": true,
    "label": "t:sections.main_blog.settings.show_excerpt.label"
  },
  {
  "type": "header",
   "content": "t:common.header.colors.content"
  },
   {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
      "label": "t:common.global.color_scheme.label"
  },
  {
    "type": "header",
       "content": "t:common.header.section_spacing.content"
  },
  {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ]
}
{% endschema %}
