{{ 'address.css' | asset_url | stylesheet_tag }}
<div class="{{ section.settings.color_scheme  }}-scheme spacing-box">
  <div class="account-inner-box">
    <div class="{{ settings.layout_width }}">
      <div class="account-card" id="changePassword">
        <h3 class="account-heading">
          {{ 'customer.reset_password.title' | t }}
        </h3>
        <p>
          {{ 'customer.reset_password.subtext' | t }}
        </p>
        {%- form 'reset_customer_password', class: 'account-form' -%}
          {%- if form.errors -%}
            <p>{{ 'templates.contact.form.error_heading' | t }}</p>
            <ul class="no-bullet">
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
          <div class="form-field">
            <label class="hidden" for="password">{{ 'customer.reset_password.password' | t }}</label>
            <input
              type="password"
              class="form-input-field"
              name="customer[password]"
              id="password"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="password-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password' | t }}"
            >
          </div>
          <div class="form-field">
            <label class="hidden" for="password_confirmation">
              {{- 'customer.reset_password.password_confirm' | t -}}
            </label>
            <input
              type="password"
              class="form-input-field"
              name="customer[password_confirmation]"
              id="password_confirmation"
              {% if form.errors contains 'password_confirmation' %}
                aria-invalid="true"
                aria-describedby="password_confirmation-error"
              {% endif %}
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
            >
          </div>
          <button class="btn btn-medium fill-btn btn-w100">
            <span>{{ 'customer.login_page.submit' | t }}</span>
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }} {
     --topSpace:{{ section.settings.top_space_desktop }}px;
     --bottomSpace:{{ section.settings.bottom_space_desktop }}px;
   }

   @media only screen and (max-width:767px) {
     #shopify-section-{{ section.id }}.shopify-section{
       --topSpace:{{ section.settings.top_space_mobile }}px;
       --bottomSpace:{{ section.settings.bottom_space_mobile }}px;
     }

   }
</style>
{% schema %}
 {
  "name": "t:sectons.main_reset_password.name",
  "class": "section-account",
  "tag": "section",
  "settings": [
    {
    "type": "header",
     "content": "t:common.header.colors.content"
    },
     {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:common.global.color_scheme.label"
    },
  {
     "type": "header",
      "content": "t:common.header.section_spacing.content"
   },
   {
     "type": "range",
     "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_desktop",
       "label": "t:common.section_spacing.bottom_space_desktop.label",
     "default": 70,
     "min": 0,
     "max": 150,
     "step": 5
   },
   {
     "type": "range",
     "id": "top_space_mobile",
       "label": "t:common.section_spacing.top_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   },
   {
     "type": "range",
     "id": "bottom_space_mobile",
       "label": "t:common.section_spacing.bottom_space_mobile.label",
     "default": 40,
     "min": 0,
     "max": 100,
     "step": 5
   }
  ]
}
{% endschema %}
