{{ 'password.css' | asset_url | stylesheet_tag }}

<div class="{{ settings.layout_width }}">
  <div class="passowrd-wrapper">
    <div class="password-content-box">
      <a href="{{ routes.root_url }}" class="password-logo-img">
        {%- if section.settings.logo_pw != blank -%}
          {%- assign image_2x_size = section.settings.logo_max_width | times: 2 | at_most: 2560 -%}
          <img
            srcset="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }} 1x, {{ section.settings.logo_pw | image_url: width: image_2x_size }} 2x"
            src="{{ section.settings.logo_pw | image_url: width: section.settings.logo_max_width }}"
            loading="lazy"
            class="true lazyload"
            width="{{ section.settings.logo_max_width }}"
            height="{{ section.settings.logo_max_width | divided_by : section.settings.logo_pw.aspect_ratio | round }}"
            alt="{{ section.settings.logo_pw.alt | default: shop.name | escape }}"
          >
        {% else %}
          <span>{{ shop.name }}</span>
        {% endif %}
      </a>
      {% if section.settings.heading != blank %}
        <h2 class="heading-password body-font">{{ section.settings.heading }}</h2>
      {%- else -%}
        <p class="password-description textLarge">{{ 'general.password_page.opening_soon' | t }}</p>
      {%- endif -%}
      {% if section.settings.description != blank %}
        <p class="password-description textLarge">{{ section.settings.description | escape }}</p>
      {% endif %}
      {%- if section.settings.show_newsletter -%}
        <div class="password-form-box">
          {% form 'customer' %}
            <div class="form-row content-justify-between">
              <input type="hidden" name="form_type" value="customer">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="form-field">
                <label class="hidden" for="ContactEmail">{{ 'newsletter.label' | t }}</label>
                <input
                  class="form-input-field"
                  type="email"
                  name="contact[email]"
                  id="Email"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'newsletter.label' | t }}"
                  value="{{ form.email }}"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error-{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success-{{ section.id }}"
                  {% endif %}
                  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                  required
                >
                {%- if form.errors -%}
                  <div class="form-message__wrapper error">
                    <span class="error-text">
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button type="submit" name="commit" class="btn btn-medium fill-btn btn-w100">
                <span>{{ 'general.password_page.submit' | t }}</span>
              </button>
              {% if form.posted_successfully? %}
                <div class="form-message__wrapper success">
                  <p>{{ 'newsletter.success' | t }}</p>
                </div>
              {% endif %}
            </div>
          {%- endform -%}
        </div>
      {%- endif -%}
      {%- if shop.password_message != blank -%}
        <div class="form-message__wrapper success">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
<div class="password-btns">
  <a href="#password" class="password-inter-link text-underline" data-id="password" data-model-main-head>
    <span class="password-inter-link-inner textMedium" data-replace="Enter Password">
      {{- 'general.password_page.login_password_button' | t -}}
    </span>
  </a>
</div>
<div class="modal-drawer-panel password-popup" id="password" data-model-main-body>
  <div class="blur-layer-bg" data-model-close></div>
  <div class="modal-drawer-card">
    <div class="modal-drawer-inner">
      <a href="#" class="close-btn" aria-label="Close" data-model-close>
        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 23.691 22.723">
          <g transform="translate(-126.154 -143.139)">
            <line x2="23" y2="22" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="2"></line>
            <path d="M0,22,23,0" transform="translate(126.5 143.5)" fill="none" stroke="CurrentColor" stroke-width="2"></path>
          </g>
        </svg>
      </a>
      <div class="popup-body-inner">
        <div class="password-enter-content">
          {%- if section.settings.password_heading != blank -%}
            <h2 class="heading-password body-font">{{ section.settings.password_heading }}</h2>
          {%- endif -%}
          {%- if section.settings.password_description != blank -%}
            <p class="password-description text-medium">{{ section.settings.password_description | escape }}</p>
          {%- endif -%}

          <div class="password-content-box">
            {% form 'storefront_password', class: 'password-form' %}
              {% if form.errors %}
                <p id="passwordError" class="form-error ">{{ form.errors | default_errors }}</p>
              {%- endif -%}
              <input type="hidden" name="form_type" value="customer">
              <input type="hidden" name="utf8" value="✓">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="form-group">
                <label class="hidden" for="Password">
                  {{- 'general.password_page.login_form_password_label' | t -}}
                </label>
                <input
                  class="form-input-field"
                  type="password"
                  name="password"
                  id="Password"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  value=""
                  required
                >
              </div>
              <button class="btn btn-medium btn-w100 fill-btn">
                <span>{{ 'general.password_page.enter_password' | t }}</span>
              </button>
            {% endform %}
          </div>
          <p class="password-enter-description">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.password_page.name",
  "class": "shopify-section password-section",
  "templates": ["password"],
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_pw",
      "label": "t:sections.password_page.settings.logo.label",
      "info": "t:sections.password_page.settings.logo.info"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 400,
      "step": 20,
      "unit": "px",
      "label": "t:sections.password_page.settings.logo_max_width.label",
      "default": 120
    },
    {
      "type": "header",
      "content": "t:common.header.text.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:common.global.heading.label",
      "default": "Opening soon"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:common.global.description.label",
      "default": "Find out when we open"
    },
    {
      "type": "inline_richtext",
      "id": "password_heading",
      "label": "t:sections.password_page.settings.password_heading.label",
      "default": "Enter password"
    },
    {
      "type": "text",
      "id": "password_description",
      "label": "t:common.global.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:sections.password_page.settings.show_newsletter.label",
      "default": true
    }

  ]
}
{% endschema %}
