{%- if predictive_search.performed -%}
  {%- if predictive_search.resources.products.size > 0
    or predictive_search.resources.collections.size > 0
    or predictive_search.resources.articles.size > 0
    or predictive_search.resources.pages.size > 0
  -%}
    <div id="predictive-search-results-content" class="search-content">
      {%- if predictive_search.resources.collections.size > 0
        and settings.enable_collections
        or predictive_search.resources.pages.size > 0
        and settings.enable_pages
        or predictive_search.resources.articles.size > 0
        and settings.enable_article
      -%}
        <div class="column-left">
          {% if predictive_search.resources.collections.size > 0 and settings.enable_collections %}
            <div class="search-cont-inner popular-collection-list">
              <div class="heading-header title-flex">
                <span class="textMedium font-heading">{{ 'general.predictive_search.popular_collections' | t }}</span>
              </div>
              <ul class="no-bullet search-list-box">
                {%- for collection in predictive_search.resources.collections limit: 4 -%}
                  <li>
                    <a class="search-item" href="{{ collection.url }}">{{ collection.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if predictive_search.resources.pages.size > 0 and settings.enable_pages %}
            <div class="search-cont-inner predictive-search-pages-list">
              <div class="heading-header flex">
                {% assign count = predictive_search.resources.pages.size %}
                <span class="textMedium font-heading">
                  {{- 'templates.search.results_pages_with_count' | t: count: count -}}
                </span>
                <a
                  href="{{ routes.search_url }}?type=page&options%5Bprefix%5D=last&q={{ predictive_search.terms }}"
                  class="text-underline"
                  >View all</a
                >
              </div>
              <ul class="no-bullet search-list-box">
                {%- for page in predictive_search.resources.pages limit: 4 -%}
                  <li>
                    <a class="search-item" href="{{ page.url }}">{{ page.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if predictive_search.resources.articles.size > 0 and settings.enable_article %}
            <div class="search-cont-inner predictive-search-article-list">
              <div class="heading-header flex">
                {% assign count = predictive_search.resources.articles.size %}
                <span class="textMedium font-heading">
                  {{- 'templates.search.results_blog_with_count' | t: count: count -}}
                </span>
                <a
                  href="{{ routes.search_url }}?type=article&options%5Bprefix%5D=last&q={{ predictive_search.terms }}"
                  class="text-underline"
                  >View all</a
                >
              </div>
              <ul class="no-bullet search-list-box">
                {%- for article in predictive_search.resources.articles limit: 4 -%}
                  <li>
                    <a class="media-object" href="{{article.url }}">
                      {% if article.image != blank %}
                        {% render 'image', image: article.image %}
                      {% endif %}
                      <span>{{ article.title }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if predictive_search.resources.products.size > 0 %}
        <div class="{%- if predictive_search.resources.collections.size > 0 and settings.enable_collections or  predictive_search.resources.pages.size > 0 and settings.enable_pages or predictive_search.resources.articles.size > 0 and settings.enable_article -%}column-right{% endif %}">
          <div class="treanding-products-list">
            <div class="heading-header flex">
              <span class="textMedium font-heading">{{ 'templates.search.trending_product' | t }}</span>
              <a
                href="{{ routes.search_url }}?type=product&options%5Bprefix%5D=last&q={{ predictive_search.terms }}"
                class="view-all text-underline"
              >
                {{- 'templates.search.view_all' | t -}}
              </a>
            </div>
            <div class="grid-row">
              {%- for item in predictive_search.resources.products limit: 6 -%}
                {%- capture current -%}{% cycle section.id: 1, 2, 3, 4 %}{%- endcapture -%}
                {%- assign placeholder_image = 'product-apparel-' | append: current -%}
                {% assign productFormId = 'product-form-' | append: section.id | append: forloop.index %}
                <div class="grid-item-sm-6 grid-item-md-6 grid-item-l-3">
                  {% assign productFormId = 'product-form-' | append: section.id | append: forloop.index %}
                  {% render 'product-grid',
                    cardProduct: item,
                    section: section,
                    productFormId: productFormId,
                    placeholder_image: placeholder_image,
                    search: true
                  %}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="seach-result-product-list"></div>
        </div>
      {% endif %}
    </div>
  {%- else -%}
    <div id="predictive-search-results-content" class="search-result not-found align-center">
      <span>
        <svg width="79" height="84" viewBox="0 0 79 84" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.001 2.362L15.995 2.366C15.881 2.442 15.775 2.528 15.677 2.624L2.159 15.951C0.837 17.097 0 18.789 0 20.676V76.903C0 80.355 2.798 83.153 6.25 83.153H41.675C42.825 83.153 43.758 82.219 43.758 81.07C43.758 79.92 42.825 78.986 41.675 78.986H6.25C5.1 78.986 4.167 78.053 4.167 76.903V20.676C4.167 20.083 4.415 19.548 4.812 19.169C4.863 19.129 4.913 19.086 4.961 19.04C5.315 18.76 5.763 18.593 6.25 18.593H12.431C15.831 18.593 18.607 15.875 18.679 12.475C18.721 10.513 18.771 8.168 18.812 6.206C18.836 5.072 19.762 4.166 20.895 4.166H57.622C58.772 4.166 59.705 5.099 59.705 6.25C59.705 14.725 59.705 33.176 59.705 33.176C59.705 34.326 60.639 35.26 61.788 35.26C62.938 35.26 63.872 34.326 63.872 33.176V6.25C63.872 2.798 61.073 0 57.622 0C49.025 0 29.416 0 20.895 0C18.915 0 17.147 0.921 16.001 2.362ZM65.732 68.702L75.065 78.036C75.878 78.849 77.199 78.849 78.012 78.036C78.825 77.223 78.825 75.903 78.012 75.09L68.733 65.811C70.949 63.044 72.276 59.535 72.276 55.718C72.276 46.8 65.035 39.559 56.117 39.559C47.199 39.559 39.958 46.8 39.958 55.718C39.958 64.636 47.199 71.876 56.117 71.876C59.717 71.876 63.044 70.696 65.732 68.702ZM56.117 43.726C62.736 43.726 68.109 49.099 68.109 55.718C68.109 62.336 62.736 67.71 56.117 67.71C49.498 67.71 44.125 62.336 44.125 55.718C44.125 49.099 49.498 43.726 56.117 43.726ZM53.171 55.718L49.436 59.452C48.623 60.265 48.623 61.585 49.436 62.398C50.249 63.211 51.57 63.211 52.383 62.398L56.117 58.664L59.851 62.398C60.664 63.212 61.984 63.212 62.798 62.399C63.611 61.585 63.611 60.265 62.798 59.452L59.063 55.718L62.798 51.983C63.611 51.17 63.611 49.85 62.798 49.037C61.985 48.224 60.664 48.224 59.851 49.037L56.117 52.771L52.383 49.037C51.57 48.224 50.25 48.224 49.436 49.037C48.623 49.85 48.623 51.17 49.436 51.983L53.171 55.718ZM17.655 56.173H32.296C33.446 56.173 34.38 55.239 34.38 54.09C34.38 52.94 33.446 52.006 32.296 52.006H17.655C16.506 52.006 15.572 52.94 15.572 54.09C15.572 55.239 16.506 56.173 17.655 56.173ZM17.655 43.668H32.296C33.446 43.668 34.38 42.735 34.38 41.585C34.38 40.435 33.446 39.502 32.296 39.502H17.655C16.506 39.502 15.572 40.435 15.572 41.585C15.572 42.735 16.506 43.668 17.655 43.668ZM17.655 31.146H46.938C48.087 31.146 49.021 30.213 49.021 29.063C49.021 27.913 48.087 26.98 46.938 26.98H17.655C16.506 26.98 15.572 27.913 15.572 29.063C15.572 30.213 16.506 31.146 17.655 31.146ZM14.573 9.563L9.64 14.426H12.431C13.564 14.426 14.49 13.52 14.514 12.387L14.573 9.563Z" fill="#B3B3B3"/>
        </svg>
      </span>
      <h3>{{ 'templates.search.in_result_for_html' | t: terms: predictive_search.terms }}</h3>
      <p>{{ 'templates.search.no_results' | t }}</p>
      <a class="text-underline" href="{{ routes.root_url }}">
        <span>{{ 'general.continue_shopping' | t }}</span>
      </a>
    </div>
  {% endif %}
{% endif %}
